.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
 

  padding: 1rem;
}
.card {
  width: 30vw;
  height: 90vh ;
}
.card img{
  
  object-fit: cover;
  margin-top:0px;
  width: 100%;
  height:90% ;
}
.view-cascade img{
  /* width: 80vw; */
  height: 80vh ;
}
.card-cascade{
  margin: 2% 10%;
  width: 80vw
}
.gen{
  display: inline;
  margin: 10px
}
.fa-film{
  font-size: 2rem
}
.rate{
  display: inline;
}
.actors-card{
  margin: 1%
}
.testimonial-card img{
  height: 75%;
  width: 50%;
  margin-top:10px 
}
.movie-details{
  background-color: #929fb9;
  margin-top: 0px;
  padding: 0px
}
.overlay img{
  height: 50vh;
}
.body-actor{
  height: 10px;
}


/* Navbar-------------------------------- */
#navBar3 {
  background: #22313F;
  border: 0;
  margin-top:0px;
  top: 280px;
  /*Rmove this "top: 280px;" its only to display more than one header with vertical spaces*/
}
#navBar3 .navbar-brand {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
#navBar3 .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
#navBar3 .navbar-nav li:nth-child(odd) {
  background: #283949;
}
#navBar3 .navbar-nav li:nth-child(odd)::after {
  content: '';
  border-left: 55px solid #283949;
  border-top: 0 solid #283949;
  border-bottom: 10px solid transparent;
  position: absolute;
  z-index: 99999;
  bottom: -10px;
}
#navBar3 .navbar-nav li:nth-child(odd)::before {
  content: '';
  border-left: 55px solid #283949;
  border-bottom: 0 solid #283949;
  border-top: 10px solid transparent;
  position: absolute;
  z-index: 99999;
  top: -10px;
}
#navBar3 .navbar-nav li:nth-child(even) {
  background: #22313F;
}
#navBar3 .navbar-nav li:nth-child(even)::after {
  content: '';
  border-right: 55px solid #22313F;
  border-top: 0 solid #22313F;
  border-bottom: 10px solid transparent;
  position: absolute;
  z-index: 99999;
  bottom: -10px;
  right: 0;
}
#navBar3 .navbar-nav li:nth-child(even)::before {
  content: '';
  border-right: 55px solid #22313F;
  border-bottom: 0 solid #22313F;
  border-top: 10px solid transparent;
  position: absolute;
  z-index: 99999;
  top: -10px;
  right: 0;
}
